<p>Hello good friend, <strong>{{ fullName }}</strong>!</p>

<p>Your new temporary password is <strong>{{ password }}</strong></p>

<p>To provide your credentials to log in and to make good things, could you please follow the next link?</p>

<p><a href="{{ url('login') }}">{{ url('login') }}</a></p>

<p>Be good friend ^_^</p>