{% extends 'AppBundle::layout.html.twig' %}

{% block header_stylesheets %}
	{{ parent() }}

	<!-- iCheck -->
  	<link rel="stylesheet" href="{{ asset('bundles/app/lib/icheck/square/blue.css') }}">
{% endblock %}

{% set body_class = 'hold-transition login-page' %}

{% block body %}
	<div class="login-box">
	  <div class="login-logo">
	    <a href="{{ path('default') }}"><img src="{{ asset('bundles/app/images/begoof.png') }}"><b>Be Good</b> Friend</a>
	  </div>
	  <!-- /.login-logo -->
	  <div class="login-box-body">
	    
	    {% block content %}{% endblock %}

	  </div>
	  <!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->

{% endblock %}