<ul class="sidebar-menu">
  <li class="header">MAIN NAVIGATION</li>
  
  <li>
    <a href="#">
      <i class="fa fa-calendar"></i> <span>Calendar of Birthdays</span>
    </a>
  </li>

  <li>
    <a href="#">
      <i class="fa fa-list"></i> <span>List of Birthdays</span>
    </a>
  </li>
  
  <li class="header">LABELS</li>
  <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
  <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
  <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
</ul>